<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Скидки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <style>
        p {
            margin: 100px;
            padding: 10px;
        }
    </style>
</head>
<body style="background-image: url(images/background.png); background-size: cover">
<nav class="navbar navbar-expand-lg navbar-default bg-dark">
    <div class="row" style="background-color: -moz-mac-accentdarkestshadow  ">

        <div class="col-md-3">
            <img src="images/intelimage.png"/>
        </div>
        <div class="col-md-8">
            <ul class="navbar-nav">
                <li class="active">
                    <a class="nav-link" href="/"> <span style="font-style: italic; font-size: 24px; color: white">Главная</span>
                    </a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/rules"><span
                            style="font-style: italic; font-size: 24px; color: white">Правила</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/discount"><span
                            style="font-style: italic; font-size: 24px; color: white">Акции</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/contacts"><span style="font-style: italic; font-size: 24px; color: white">Контакты</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/sertificate"><span style="font-style: italic; font-size: 24px; color: white">Сертификаты</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <H1 align="center" style="color: white;font-style: italic;">Скидки:</H1>
    </div>
</div>
<p align="center" style="color: white;font-style: italic; font-size: 20px">
    <font face="Times New Roman">
        1) В день вашего рождения(при предьявлении документа) скидка 100 грн.
        <br/>
        <br/>
        <br/>
        2) При прохождении двух квестов в один день - скидка 10% от общей суммы.
        <br/>
        <br/>
        <br/>
        3) При побитии рекордного времени прохождения - скидка 50 грн.
    </font>
</p>
<h1 align="center">
    <img src="images/intelimage2.png"/>
</h1>

</body>
</html>