<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Интеллект</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        p {
            margin: 50px;
            padding: 0px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border-radius: 8px;
        }

        input[type=text], input[type=password] {
            width: 20%;
            padding: 12px 0px;
            margin: 8px 0%;
            display: inline-block;
            border: 4px solid #64B5F6;
            border-radius: 8px;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #90CAF9;
            color: black;
            padding: 14px 0px;
            margin: 8px 40%;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 35%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 4px;
            padding-left: 480px;
            padding-right: 480px;
        }
    </style>
</head>
<body style="background-image: url(images/background.png); background-size: cover">
<nav class="navbar navbar-expand-lg navbar-default bg-dark">
    <div class="row" style="background-color: -moz-mac-accentdarkestshadow  ">

        <div class="col-md-3">
            <img src="images/intelimage.png"/>
        </div>
        <div class="col-md-8">
            <ul class="navbar-nav">
                <li class="active">
                    <a class="nav-link" href="/main"> <span style="font-style: italic; font-size: 24px; color: white">Главная</span>
                    </a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/rules"><span
                            style="font-style: italic; font-size: 24px; color: white">Правила</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/discount"><span
                            style="font-style: italic; font-size: 24px; color: white">Акции</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/contacts"><span
                            style="font-style: italic; font-size: 24px; color: white">Контакты</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/sertificate"><span
                            style="font-style: italic; font-size: 24px; color: white">Сертификаты</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <H1 align="center" style="color: white;font-style: italic;">Наши квест-комнаты</H1>
    </div>
</div>
<div class="row">
    <div align="right" class="col-md-6" style="background-image: url(images/oldkush.png); background-size: cover">
        <b align="right" style="color: white;font-style: italic">
            <FONT face="Arial Narrow" size="5px">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                ОТ 2 ДО 5 ЧЕЛОВЕК
                <br/>
                ЦЕНА ОТ 400 ГРН
                <br/>
                Вы самые известные и профессиональные грабители во всем мире, И ваш большой куш - это редкие и бесценные
                слитки золота которые спрятаны в самом загадочном банке америки. Добраться в хранилище будет не просто.
            </FONT>
        </b>
        <form method="post" action="#">
            <input type="submit" value="Забронировать"/>
        </form>
    </div>
    <div align="right" class="col-md-6" style="background-image: url(images/clinic.jpg); background-size: cover">
        <b align="center " style="color: white;font-style: italic">
            <FONT face="Arial Narrow" size="5px">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                ОТ 2 ДО 5 ЧЕЛОВЕК
                <br/>
                ЦЕНА ОТ 400 ГРН
                <br/>
                Вы самые известные и профессиональные грабители во всем мире, И ваш большой куш - это редкие и бесценные
                слитки золота которые спрятаны в самом загадочном банке Aмерики. Добраться в хранилище будет не просто.
            </FONT>
        </b>
        <form method="post" action="#">
            <input type="submit" value="Забронировать"/>
        </form>
    </div>
</div>
<div class="row">
    <div align="center" class="col-md-3">
    </div>
    <div align="center" class="col-md-6" style="background-image: url(images/ans1.jpg); background-size: cover">
        <b align="center" style="color: red;font-style: italic">
            <FONT face="Arial Narrow" size="3px">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                СКОРО...
            </FONT>
        </b>
    </div>
</div>
<h1 align="center">
    <img src="images/intelimage2.png"/>
</h1>

</body>
</html>