<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Правила</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <style>
        p {
            margin: 100px;
            padding: 10px;
        }
    </style>
</head>
<body style="background-image: url(images/background.png); background-size: cover">
<nav class="navbar navbar-expand-lg navbar-default bg-dark">
    <div class="row" style="background-color: -moz-mac-accentdarkestshadow  ">

        <div class="col-md-3">
            <img src="images/intelimage.png"/>
        </div>
        <div class="col-md-8">
            <ul class="navbar-nav">
                <li class="active">
                    <a class="nav-link" href="/"> <span style="font-style: italic; font-size: 24px; color: white">Главная</span>
                    </a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/rules"><span
                            style="font-style: italic; font-size: 24px; color: white">Правила</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/discount"><span
                            style="font-style: italic; font-size: 24px; color: white">Акции</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/contacts"><span style="font-style: italic; font-size: 24px; color: white">Контакты</span></a>
                </li>
                <img src="images/delimiter.png"/>
                <li>
                    <a class="nav-link" href="/sertificate"><span style="font-style: italic; font-size: 24px; color: white">Сертификаты</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <H1 align="center" style="color: white;font-style: italic;">Правила</H1>
</div>
</div>
<p align="left" style="color: white;font-style: italic">
    ● В квест комнатах запрещается использовать грубую физическую силу.
    для прохождения комнаты не нужно каких-либо специальных знаний.
    Вам нужно лишь воспользоваться своим логическим мышлением и внимательностью.
    <br/>
    <br/>
    ● Возрастное ограничения для прохождения комнат: 8 - 14 лет с участием одного из родителей, с 14 без. Некоторые
    квест-румы запрещается посещать детям меньше 16 лет.
    <br/>
    <br/>
    ● Стандартное количество игроков в команде от 2 до 5 человек, большинство квестов принимают и до 6ти человек, по
    мере
    масштаба квеста.
    <br/>
    <br/>
    ● Банковские карты к оплате не принимаются, только наличный расчет. заранее позаботьтесь о наличии наличных средств.
    <br/>
    <br/>
    ● УЧАСТНИКИ В наркотическом ИЛИ алкогольном ОПЬЯНЕНИИ К ИГРЕ НЕ ДОПУСКАЮТСЯ.
    <br/>
    <br/>
    ● Все наличные вещи, телефоны, сумки и любую другую технику необходимо оставить в камере хранения на время
    прохождения
    квеста. Для игры вам понадобиться лишь ваша логика и наблюдательность.
    <br/>
    <br/>
    ●На время прохождения квеста у команды есть рация для связи с администратором.
</p>
<h1 align="center">
    <img src="images/intelimage2.png"/>
</h1>

</body>
</html>